################################################################################
#
# Resource file of custom package myPickingSlice
#
################################################################################


module -name     "myPickingSlice" \
       -primary  "HxCluster" \
       -class    "myPickingSlice" \
       -category "Local" \
       -package  "myPickingSlice" \
       -icon     "TVDefDisplay"
